<!doctype html>
<html>
    <head>
        <title>My Choice Online Store</title>
    </head>

    <body>
        <!-- <h1>My Choice Online Store</h1> -->
        {% include 'logo.html' %}

        <!-- Code from other templates goes in here -->
        {% block page_name %}
            <p>Page name goes in here</p>
        {% endblock %}
        {% block content %} 
            <p> dummy data</p>
        {% endblock %}

        <!-- <h4><i>Copyright 2022</i></h4> -->
        {% include 'footer.html' %}

    </body>
</html>
